            /* Обнуление стилей */
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            a {
                text-decoration: none;
            }
            
            .top {
                padding-bottom: 96px;
                padding-left: 373px;
                padding-right: 375px;
            }
            
            .header {
                margin-bottom: 51px;
                margin: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .header__link {
                color: #000000;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
            .color {
                color: #F25822;
            }
            
            .top__contents {
                margin-bottom: 163px;
                display: flex;
                gap: 40px;
                justify-content: space-between;
            }
            
            .title {
                margin-bottom: 17px;
                color: #000;
                font-size: 60px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
            .text {
                color: #888;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 52px;
            }
            
            .button__style {
                color: #FFF;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 15px 30px;
                text-decoration: none;
                background-color: #F25822;
                border-radius: 50px;
                margin-right: 20px;
                border: 3px solid transparent;
            }
            
            .button__style:hover {
                border: 3px solid transparent;
                color: #F25822;
                background-color: #fff;
                transition: all 0.3s;
            }
            
            .button__two {
                color: #AAA;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
            .logo__style {
                padding-right: 500px;
            }
            
            .top__logos {
                display: flex;
                justify-content: space-around;
            }